body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    background-color: #f7f7f7;
    color:#111;
}
h1{
    font-weight: 800;
    font-size: 50px;
    margin: 0px;
}
a{
    text-decoration: none;
}
input{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.home {
    padding-top: 80px;
    position: relative;
}
.footer{
    padding: 50px;
}
.corner {
    position: absolute;
    text-transform:uppercase;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 800;
}
.corner a{
    color:#111;
}
.corner-top-right{
    top: 30px;
    right: 30px;
}
.corner-bottom-left{
    left: 30px;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.heading-secondary {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .08em;
}
.subtitle{
    font-family: Courier,monospace;
    color: #111;
}
.text-center{
    text-align: center;
}
.btn{
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #3cb46e;
    box-shadow: 0 3px 3px rgba(0,0,0,.08);
    display: inline-block;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
}
.btn-custom{
    margin: 15px auto;
}
.center_input{
    width: 500px;
    margin: 30px auto 15px;
    color: #111111;
    border: 1px solid #999999;
}
#theImage,
#s1-canvas {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,.1);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.canvas-editor {
    margin: 15px auto;
}
#signature, .watermark {
    position: absolute;
    display: block;
    left: 250px;
    bottom: 75px;
    color: #000;
    text-align: left;
}
#output span {
    text-transform:capitalize;
    font-size: 25px;
    font-weight: 900;
    height: 0px;
}
.blacktext span {
    color: #000;
}
.whitetext > span {
    color: #fff;
}